.key {
    background-color: white;
    width: 100px;
    border: 2px solid black; 
    border-radius: 5px;
    height: 200px;
    margin: 1px; 
    cursor: pointer; 
    display: inline-flex;
    align-items: flex-end; 
    justify-content: center;
}

.key:active {
    background-color: rgb(235, 221, 184);
    transform: scale(0.95);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}